* {
    box-sizing: border-box;
}

.topo {
    height: 54px;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    z-index: 999;
}

.menu {
    width: 935px;
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
}

.logo-instagram {
    width: 20px;
    height: 20px;
}

.barra {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin-left: 12px;
}

.menu img{
    margin-left: 10px;
    margin-top: 5px;
}

.menu input {
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-left: 214px;
    text-align: center  
}

.papel {
    width: 20.5px;
    height: 20.5px;
    margin-left: 214px;
}

.icones {
    width: 20.5px;
    height: 20.5px;
    margin-left: 25px;
}

.pagina {
    width: 935px;
    background-color: white;
    margin: 0 auto;
    padding: 54px 0px;
}

.esquerda {
    width: 614px;
    height: 100%;
    background-color: white;
    display: inline-block
}

.direita {
    
}

.stories {
    width: 614px;
    height: 118px;
    background-color: white;
    margin-top: 34px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 24px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.stories img{
    width: 56px;
    height: 56px;
    margin-left: 5px;
    margin-top: 5px;
}

.storie {
    width: 66px;
  height: 66px;
  background-image: url("./imgs/stories_background.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.posts {
    width: 614px;
    height: 749px;
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
}

.topo-post {
    width: 100%;
    height: 61px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.engesq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17px;
}

.engesq img {
    width: 32px;
    height: 32px;
}

.engesq p {
    margin-left: 17px;
    font-weight: bold;
}

.trespontos{
    margin-right: 18px;
}
.foto img{
    width: 612px;
    height: 612px;
}

.iconpost {
    width: 17px;
    height: 17px;
    margin-left: 14px;
    margin-top: 10px;
}

.iconpost2 {
    width: 17px;
    height: 17px;
    margin-left: 485px;
    margin-top: 10px;
}

.curtidas {
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bold;
}
.curtidas img{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-top: 10px;   
}

.curtidas p{
    margin-left: 6px;
    margin-top: 9px;
}